/* styles.css */

/* Starting Quiz */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Black background with transparency */
}

.modal-content {
    background-color: #ffffff; /* White background */
    margin: 15% auto;
    padding: 25px;
    border-radius: 10px; /* Rounded corners */
    width: 80%;
    max-width: 600px;
    text-align: center;
    color: #000; /* Set text color to black */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}


.close {
    color: #fff; /* White color for close button */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ccc; /* Light gray color on hover */
    text-decoration: none;
    cursor: pointer;
}

/* Body */
body {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
}

/* Title Container */
#quiz-title {
    text-align: center;
    font-size: 50px;
    color: rgb(168, 100, 183); /* Purple color */
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; /* White outline */
}

#quiz-title-2 {
    text-align: center;
    font-size: 32px;
    color: rgb(255, 255, 255); /* White color */
}

/* Quiz Container */
#quiz {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#quiz-container {
    max-width: 1200px;
    max-height: 10000px;
    margin: 10 auto;
    padding: 50px;
    border: 2px solid #fff; /* White outline */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden;
    background-color: #0b0b0b; /* Slightly dark grey */
}

/* Questions */
.question {
    margin-bottom: 20px;
}

/* Options */
input[type="radio"] {
    display: none; /* Hide default radio buttons */
}

label {
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(168, 100, 183);
    color: rgb(168, 100, 183); 
    border-radius: 5px;
    cursor: pointer;
}

/* Checked label */
input[type="radio"]:checked + label {
    background-color: rgb(168, 100, 183); /* Purple background when checked */
    color: #000; /* Black text when checked */
}

/* Submit Button */
#submit-btn {
    display: block;
    margin: 20px auto;
    padding: 15px 25px;
    background-color: rgb(168, 100, 183); /* Purple button background */
    color: #000; /* Black button text */
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: serif, sans-serif;
    font-weight: bold;
}

/* Result Container */
#result-container {
    text-align: center;
    margin-top: 20px;
}


